.container {
    margin-bottom: 1em;
}

h1 {
	margin: 1em 0;
}

.allNewsOnPage {
    justify-content: center;
}

.news {
    display: flex;
    margin-bottom: 0.5em;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-item {
    text-align: center;
    margin: 2px;
    width: 48px;
}